


<h1>Editing Doctor</h1><br>

<%= render 'form' %>
<div text-align:left>
<div class="col-md-8  col-md-offset-0" >


<div class="row">
<br>
<td style="width:10%"><%= link_to 'Show', @doctor_category %></td>&nbsp&nbsp&nbsp
<td style="width:10%"><%= link_to 'Back', doctor_categories_path %></td></div></div></div>