

<div class="row">
<h1>Editing Doctor</h1>
<div class="col-md-6 col-md-offset-10" >
<%= link_to 'Show', @doctor_category %>&nbsp&nbsp&nbsp
<%= link_to 'Back', doctor_categories_path %></div>
</div>

<%= render 'form' %>

