<div class="row">
<div class="col-md-6"><h1>Edit Doctor Category</h1></div>
<div class="col-md-2 col-md-offset-4" ><%= link_to 'Back', doctor_categories_path %></div>
</div>
<br>
<%= render 'form' %>

