<div class="authform">
<div class="row">
<div class="col-md-6"><h2>New Doctor Category</h2></div>
<div class="col-md-2 col-md-offset-4" ><%= link_to 'Back', doctor_categories_path %></div>
</div>
<%= render 'form' %>
</div>
