</br></br>
<div  align="center" style="width:75% !important;">
<div class="container">
<table class="table" style="width:50%">
<b><%= @doctor_category.name.capitalize%></div></div></b></br>
<div class="col-md-2 col-md-offset-10" >

<td style="width:100%"><%= link_to 'Edit', edit_doctor_category_path(@doctor_category) %></td>
<td style="width:100%"><%= link_to 'Back', doctor_categories_path %></div></td>
</table>