<% if user_signed_in? %>
	<h3>Welcome</h3>
	<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<% elsif doctor_signed_in? %>
	<h3><%= "Welcome #{current_doctor.name}" %></h3>
<% end %>

