<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="row">
      <h2>Listing Doctors</h2>
      <div class="column">
        <table class="table">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Experience</th>
            </tr>
          <tbody>
            <% @doctors.each do |doctor| %>
              <tr>
                <%= render doctor %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>